h2 {
  color: #67809f;
  position: relative;
  left: 550px;
  top: 20px;
}
body {
  background: #0e3040;
}
#svg-div {
  background: #0e3040;
  color: #67809f;
}

#bar-div {
  background: #0e3040;
  color: #67809f;
}

#from-month{
  margin-left:auto;
}