h2 {
  color: #ffffff;
  position: relative;
 
}
h5 {
  color: #ffffff;
  position: relative;
}
p {
  color: #ffffff;
  position: relative;
}
body {
  background: #0e3040;
}
#svg-div {
  background: #0e3040;
  color: #67809f;
}

#bar-div {
  background: #0e3040;
  color: #67809f;
}

#from-month{
  margin-left:auto;
}